body{
    margin: 0;
    padding: 0;
    background-color: #141B25;
    overflow-x: hidden;
    user-select: none;
    max-width: 100vw;
}
/* Position the nav element absolutely and make it the full width and height of the container */
nav{
    position: absolute;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: left;
    z-index: 100;
}
ul
{
    padding-left: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
/* Use flexbox to align the items in the navbar element vertically */
#navbar{
    display: flex;
    align-items: center;
}
#navitems{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    z-index: 10000;
}
ul > li > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Cascadia Code';
  
}
/* Absolute position the centerdiv, make it the full width of the container, and use flexbox to align its items vertically and horizontally */
div.centerdiv{
    position: absolute;
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    z-index: 3001;
}
div.typewriter > a {
    text-decoration: none;
}
/* Use inline-flex to display the h1 element within the typewriter element, set the color and font, and add some spacing between the letters */
div.typewriter > a > h1 {
    display: inline-flex;
    color: #8DD0E5;
    font-family: 'Cascadia Code';
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
    overflow: hidden;
    border-right: .15em solid white;
    animation: 
        typing 1s steps(9, end),
        blink-caret .75s step-end infinite;
    z-index: 3007;
}
/* Animate the width of the text from 0 to 100% to create a typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
/* Animate the border color of the caret from transparent to white and back to create a blinking effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

div.typewriter > a > h1 > span {
    color:#E394FF;
}

nav > div > div#navItems{
    display: none;
}
/* Add some padding to the left of the menubars element and display it as an inline block */
#menubars {
    display: inline-block;
    position: absolute;
    right: 20px;
    z-index: 10001;
}
/* Set the width, height, and background color of the bar1, bar2, and bar3 elements */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #C5C5C5;
    margin: 6px 0;
    transition: 0.4s;
    display: flex;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    -webkit-transform: translate(0, 11px) rotate(-45deg);
    -moz-transform: translate(0, 11px) rotate(-45deg);
    -ms-transform: translate(0, 11px) rotate(-45deg);
    -o-transform: translate(0, 11px) rotate(-45deg);
}
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    -webkit-transform: translate(0, -11px) rotate(45deg);
    -moz-transform: translate(0, -11px) rotate(45deg);
    -ms-transform: translate(0, -11px) rotate(45deg);
    -o-transform: translate(0, -11px) rotate(45deg);
}

#bgFade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(169.67deg, #1E3658 -5.37%, #141B25 66.67%);
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}
#languageselector
{
    display: flex;
    position: absolute;
    left: 40px;
    cursor: pointer;
    z-index: 3003;
}
#english{
    width: 50px;
    height: 34px;
    display: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#dutch{
    width: 50px;
    height: 34px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #969098 #ffffff;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #969098;
    border-radius: 11px;
    border: 3px solid rgba(0, 0, 0, 0);
}
.content
{
    width: 100vw;
    min-width: 300px;
    max-width: 961px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
    height: auto;
    z-index: 40;
    left: 0;
    padding-left: 10px;
}
.section
{
    height: 490px;
    width: 100vw;
}
.section > h2 
{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: #A6A6A6;
    opacity: 0.6;
}
.line
{
    margin-top: -20px;
    margin-left: 10px;
    width: 3px;
    height: 450px;
    background-color: #A6A6A6;
    opacity: 0.3;
}
.section > img
{
    aspect-ratio: 1.5 / 1;
    width: 300px;
    max-height: 206px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    object-fit: cover;
    transform: translate(33px, -470px);
    -webkit-transform: translate(33px, -470px);
    -moz-transform: translate(33px, -470px);
    -ms-transform: translate(33px, -470px);
    -o-transform: translate(33px, -470px);
}
.section > a 
{
    text-decoration: none;
}
.section > a > h3
{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 95px;
    font-size: 30px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 5px;
}
.section > p
{
    width: 86.3vw;
    max-width: 300px;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    margin-left: 95px;
    margin-top: -10px;
    transform: translate(0px, -380px);
    -webkit-transform: translate(0px, -380px);
    -moz-transform: translate(0px, -380px);
    -ms-transform: translate(0px, -380px);
    -o-transform: translate(0px, -380px);
}
a > h3 > span 
{
    color: #A6A6A6;
    opacity: 0.7;
    font-family: 'Merriweather', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}
.section > p, a > h3
{
    transform: translate(-60px, -450px);
    -webkit-transform: translate(-60px, -450px);
    -moz-transform: translate(-60px, -450px);
    -ms-transform: translate(-60px, -450px);
    -o-transform: translate(-60px, -450px);
}
.section:first-of-type
{
    margin-top: -100px;
}
.section > p:last-of-type
{
    margin-top: 20px;
    color: #A6A6A6;
    opacity: 0.6;
    user-select: text;
}
footer
{
    top: calc(2600px + 180px);
}